@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url(hdv.css);
@import url(sopa_letras.css);
@import url(catalogo.css);
@import url(consulta1.css);

body{
    background: #4ECDC4;
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
    background: linear-gradient(to right, #556270, #4ECDC4);

}

#contenedor{
    width: 100%;
    height: 100%;
    background: rgb(48, 45, 45);
}

#header1{
    background: rgb(48, 45, 45);
}

#header1 h1{
    background: rgb(48, 45, 45);
    border: none;
    text-align: center;
    color: white;
    font-size: 45px;
}

.navegacion{
    background: rgba(26, 24, 24, 0.993);
    height: auto;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover{
    background: rgb(211, 211, 211, 0.7);
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: rgba(26, 24, 24, 0.993);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.articulo{
    margin-top: 20px;
    margin-bottom: 7px;
    padding-bottom: 25px;
    padding-top: 15px;
}

#contenido h2{
    text-align: center;
    padding-top: 10px;
    font-size: 45px;
    background: none;
    border: none;
    color: white;
}

.articulo p{
    text-align: center;
    font-size: 35px;
    color: white;
}

img{
    width: 1349px;
    height: 480px;
}